<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="HolyCryptv3.Properties.General" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="HolyCryptv3.Properties.Conceal" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="HolyCryptv3.Properties.General" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="HolyCryptv3.Properties.Reveal" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="OutlineWidthStep" value=""/>
	</appSettings>
 <applicationSettings>
  <HolyCryptv3.Properties.General>
   <setting name="NamespacePrefix" serializeAs="String">
    <value>cx2</value>
   </setting>
   <setting name="NamespaceUri" serializeAs="String">
    <value>http://schemas.microsoft.com/office/drawing/2017/4/8/chartex</value>
   </setting>
   <setting name="HashAttributeName" serializeAs="String">
    <value>hshId</value>
   </setting>
   <setting name="RunAttributeName" serializeAs="String">
    <value>rv</value>
   </setting>
  </HolyCryptv3.Properties.General>
 </applicationSettings>
 <userSettings>
  <HolyCryptv3.Properties.Conceal>
   <setting name="OutlineWidthStep" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="OutlineAlphaStep" serializeAs="String">
    <value>0</value>
   </setting>
  </HolyCryptv3.Properties.Conceal>
  <HolyCryptv3.Properties.General>
   <setting name="MinOutlineWidth" serializeAs="String">
    <value>635</value>
   </setting>
   <setting name="MaxOutlineWidth" serializeAs="String">
    <value>1270</value>
   </setting>
   <setting name="MinOutlineAlpha" serializeAs="String">
    <value>96000</value>
   </setting>
   <setting name="MaxOutlineAlpha" serializeAs="String">
    <value>100000</value>
   </setting>
   <setting name="WindowWidth" serializeAs="String">
    <value>800</value>
   </setting>
   <setting name="WindowHeight" serializeAs="String">
    <value>600</value>
   </setting>
   <setting name="Language" serializeAs="String">
    <value>ru-RU</value>
   </setting>
  </HolyCryptv3.Properties.General>
  <HolyCryptv3.Properties.Reveal>
   <setting name="OutlineWidthStep" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="OutlineAlphaStep" serializeAs="String">
    <value>0</value>
   </setting>
  </HolyCryptv3.Properties.Reveal>
 </userSettings>
</configuration>